BEPORT=8000
FEPORT=3000

DBUSER=placeholder
DBPASSWORD=placeholder

DBNAME=edgexchange_core
DBHOST=database
DBPORT=5432

DATABASE_SOURCE=postgresql://${DBUSER}:${DBPASSWORD}@${DBHOST}:${DBPORT}/${DBNAME}


CHUSER=placeholder
CHPASSWORD=placeholder


SCHOST=sessioncache
SCPORT=6379

SESSION_CACHE_SOURCE=redis://${CHUSER}:${CHPASSWORD}@${SCHOST}:${SCPORT}/0


LCHOST=livecache
LCPORT=6380

LIVE_CACHE_SOURCE=redis://${CHUSER}:${CHPASSWORD}@${LCHOST}:${LCPORT}/0