BEPORT=8000
FEPORT=3000

DBUSER=placeholder
DBPASSWORD=placeholder

DBNAME=edgexchange_core
DBHOST=database
DBPORT=5432

DATABASE_SOURCE=postgresql://${DBUSER}:${DBPASSWORD}@${DBHOST}:${DBPORT}/${DBNAME}


CHUSER=placeholder
CHPASSWORD=placeholder

CHHOST=cache
CHPORT=6379

CACHE_SOURCE=redis://${CHUSER}:${CHPASSWORD}@${CHHOST}:${CHPORT}/0
