BEPORT=8000
FEPORT=3000

DBUSER=placeholder
DBPASSWORD=placeholder

DBNAME=edgexchange_core
DBHOST=database
DBPORT=5432

DATABASE_SOURCE=postgresql://${DBUSER}:${DBPASSWORD}@${DBHOST}:${DBPORT}/${DBNAME}


CHUSER=placeholder
CHPASSWORD=placeholder


SCHHOST=sessioncache
SCHPORT=6379

SESSION_CACHE_SOURCE=redis://${CHUSER}:${CHPASSWORD}@${CHHOST}:${CHPORT}/0


LCHHOST=livecache
LCHPORT=6380

LIVE_CACHE_SOURCE=redis://${CHUSER}:${CHPASSWORD}@${CHHOST}:${CHPORT}/0